main {
	display: flex;
	justify-content: center;
	max-width: 80vw;
	margin: auto;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: center;
	/* flex-s */
}
body {
	/* display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	margin: auto;
	margin: 0 5rem 0 5rem; */
	margin: 0 0 1rem 0;
}
section {
	/* width: 35%; */
	box-sizing: border-box;
	min-width: 20rem;
	max-width: 30rem;
	flex-shrink: 0;
	border-radius: 10px;
	margin: 1rem;
	padding: 1rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column nowrap;
	/* height: auto; */
}
.FOP {
}
section:nth-child(n) {
	background: rgba(0, 255, 4, 0.286);
}
body {
	max-width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}
h1 {
	text-align: center;
}
header {
	padding: 1rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	background: rgba(0, 145, 255, 0.186);
}

#comparative img {
	margin: auto;
	max-width: 16rem;
	max-height: 100%;
	object-fit: cover;
}
#opportunity img {
	margin: auto;
	max-width: 16rem;
}
#supply ul,
#demand ul {
	text-align: left;
}
#supply img,
#demand img,
#equilibrium img {
	margin: auto;
	max-width: 20rem;
}
#circularflow img {
	margin: auto;
	max-width: 25rem;
}
img {
	width: 80%;
	margin: auto;
}
#FOREXChange img {
	margin: auto;
	max-width: 15rem;
}
@media screen and (max-width: 768px) {
	section {
		max-width: 90%;
	}
}
